#left {
  width: 25%;
  float: left;
}

#right {
  width: 70%;
  float: right;
}

label {
  display: block;
}

legend {
  font-weight: bold;
  text-align: center;
}
form {
  height: 95vh;
  overflow-y: scroll;
}
.favicon {
  height: 16px;
  width: 16px;
}
#open-tabs {
  font-weight: bold;
}

